<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <title>Art Abloom</title>
    </head>
    <body>
        <div className="grid-container">
            <header className="rows">
                <div>
                    <a className="brand" href="index.html">Art Abloom</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <div className="row center">
                    <div className="card">
                        <a href="product.html">
                            <img className="medium" src="./images/mask_zentangle.jpg" alt="Image"/>
                        </a>
                        <div className="card-body">
                            <a href="product.html">
                                Shiva Canvas
                            </a>
                            <div className="rating">
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                            </div>
                            <div className="price">
                                $120
                            </div>
                        </div>
                    </div>

                    <div className="card">
                        <a href="product.html">
                            <img className="medium" src="./images/moon_doodle.jpg" alt="Image"/>
                        </a>
                        <div className="card-body">
                            <a href="product.html">
                                Shiva Canvas
                            </a>
                            <div className="rating">
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                            </div>
                            <div className="price">
                                $120
                            </div>
                        </div>
                    </div>

                    <div className="card">
                        <a href="product.html">
                            <img className="medium" src="./images/perspective.jpg" alt="Image"/>
                        </a>
                        <div className="card-body">
                            <a href="product.html">
                                Shiva Canvas
                            </a>
                            <div className="rating">
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                            </div>
                            <div className="price">
                                $120
                            </div>
                        </div>
                    </div>

                    <div className="card">
                        <a href="product.html">
                            <img className="medium" src="./images/shiva_canvas.jpg" alt="Image"/>
                        </a>
                        <div className="card-body">
                            <a href="product.html">
                                Shiva Canvas
                            </a>
                            <div className="rating">
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                            </div>
                            <div className="price">
                                $120
                            </div>
                        </div>
                    </div>

                    <div className="card">
                        <a href="product.html">
                            <img className="medium" src="./images/flower_charcoal.jpg" alt="Image"/>
                        </a>
                        <div className="card-body">
                            <a href="product.html">
                                Shiva Canvas
                            </a>
                            <div className="rating">
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star-half-o"></i>  </span>
                                <span> <i className="fa fa-star-o"></i>  </span>
                            </div>
                            <div className="price">
                                $120
                            </div>
                        </div>
                    </div>

                    <div className="card">
                        <a href="product.html">
                            <img className="medium" src="./images/lotus_charcoal.jpg" alt="Image"/>
                        </a>
                        <div className="card-body">
                            <a href="product.html">
                                Shiva Canvas
                            </a>
                            <div className="rating">
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star"></i>  </span>
                                <span> <i className="fa fa-star-o"></i>  </span>
                            </div>
                            <div className="price">
                                $120
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                All rights reserved.
            </footer>
        </div>
    </body>
</html>
